@import url("http://fonts.googleapis.com/css?family=Poiret+One");

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

.cf,
.main-header nav .menu,
.resolutions {
	*zoom: 1;
}

body {
	font-family: 'Poiret One', sans-serif;
	font-size: 20px;
	color: #f00;
	background: #00f;
	letter-spacing: 0.02em;
	line-height: 1.4em;
}

a {
	color: #0f0;
	text-decoration: none;
}

ul,
ol {
	padding-left: 1.5em;
}

[class^=main],
.inner {
	width: 1024px;
	margin: 0 auto;
}

.main-header {
	width: 100%;
	height: 30px;
	background: #00f;
	box-shadow: 0 0 2px 2px #333;
}

.no-csspositionsticky .main-header {
	position: fixed;
	top: 0;
	left: 0;
}

.csspositionsticky .main-header {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -o-sticky;
	position: -ms-sticky;
	position: sticky;
	top: 0;
	left: 0;
}

.main-header a {
	display: block;
	height: 100%;
	line-height: 30px;
	font-weight: bold;
}

.main-header .main-logo {
	float: left;
	width: 25%;
}

.main-header nav {
	float: right;
	width: 65%;
}

.main-header nav .menu li {
	float: left;
	display: inline-block;
}

picture img {
	display: block;
	margin: 0 auto;
	width: 320px;
}

.resolutions {
	width: 100%;
	max-width: 1920px;
	display: block;
	position: relative;
	height: 1280px;
}

.resolutions .box {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	border: solid 1px #333;
}

.resolutions .box1 {
	width: 768px;
	height: 1024px;
	margin-left: -384px;
	background: rgba(0,0,0,0.182);
}

.resolutions .box2 {
	width: 1366px;
	height: 768px;
	margin-left: -683px;
	background: rgba(0,0,0,0.094);
}

.resolutions .box3 {
	width: 320px;
	height: 568px;
	margin-left: -160px;
	background: rgba(0,0,0,0.069);
}

.resolutions .box4 {
	width: 1024px;
	height: 768px;
	margin-left: -512px;
	background: rgba(0,0,0,0.066);
}

.resolutions .box5 {
	width: 360px;
	height: 640px;
	margin-left: -180px;
	background: rgba(0,0,0,0.052);
}

.resolutions .box6 {
	width: 1280px;
	height: 1024px;
	margin-left: -640px;
	background: rgba(0,0,0,0.048);
}

.resolutions .box7 {
	width: 1920px;
	height: 1080px;
	margin-left: -960px;
	background: rgba(0,0,0,0.046);
}

.resolutions .box8 {
	width: 320px;
	height: 480px;
	margin-left: -160px;
	background: rgba(0,0,0,0.044);
}

.resolutions .box9 {
	width: 1280px;
	height: 800px;
	margin-left: -640px;
	background: rgba(0,0,0,0.041);
}

.resolutions .box10 {
	width: 1600px;
	height: 900px;
	margin-left: -800px;
	background: rgba(0,0,0,0.04);
}

.resolutions .box11 {
	width: 1440px;
	height: 900px;
	margin-left: -720px;
	background: rgba(0,0,0,0.03);
}

.resolutions .box12 {
	width: 1280px;
	height: 720px;
	margin-left: -640px;
	background: rgba(0,0,0,0.019);
}

.resolutions .box13 {
	width: 1680px;
	height: 1050px;
	margin-left: -840px;
	background: rgba(0,0,0,0.018);
}

.resolutions .box14 {
	width: 720px;
	height: 1280px;
	margin-left: -360px;
	background: rgba(0,0,0,0.016);
}

.resolutions .box15 {
	width: 480px;
	height: 800px;
	margin-left: -240px;
	background: rgba(0,0,0,0.015);
}

@media all and (min-width: 480px) {

picture img {
	width: 480px;
}

}

@media all and (min-width: 600px) {

picture img {
	width: 600px;
}

}

@media all and (min-width: 800px) {

picture img {
	width: 800px;
}

}

@media all and (min-width: 1024px) {

picture img {
	width: 1024px;
}

}

@media all and (min-width: 1400px) {

picture img {
	width: 1400px;
}

}

@media (max-width: 1044px) {

[class^=main],
.inner {
	width: calc(100% - 20px);
	padding: 0 10px;
}

.main-header {
	text-align: center;
}

}

