picture	img {
	display: block;
	margin: 0 auto;
	width: 320px;
}
@media all and (min-width:480px){
	picture img {
		width: 480px;
	}
}
@media all and (min-width:600px){
	picture img {
		width: 600px;
	}
}
@media all and (min-width:800px){
	picture img {
		width: 800px;
	}
}
@media all and (min-width:1024px){
	picture img {
		width: 1024px;
	}
}
@media all and (min-width:1400px){
	picture img {
		width: 1400px;
	}
}