.resolutions {
	width: 100%;
	max-width:1920px;
	display: block;
	position: relative;
	height: 1280px;
	@extend .cf;
	.box {
		position: absolute;
		top: 0;
		left:50%;
		display: block;
		border: solid 1px #333;
	}
	.box1 {
		width: 768px;
		height: 1024px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.1819);
	}
	.box2 { 
		width: 1366px;
		height: 768px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0938);
		// 2.	1366x768	20,798(9.38%)
	}
	.box3 { 
		width: 320px;
		height: 568px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0688);
		// 3.	320x568		15,264(6.88%)
	}
	.box4 { 
		width: 1024px;
		height: 768px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0656);
		// 4.	1024x768	14,557(6.56%)
	}
	.box5 { 
		width: 360px;
		height: 640px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0524);
		// 5.	360x640	11,621(5.24%)
	}
	.box6 { 
		width: 1280px;
		height: 1024px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0484);
		// 6.	1280x1024	10,735(4.84%)
	}
	.box7 { 
		width: 1920px;
		height: 1080px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0456);
		// 7.	1920x1080	10,122(4.56%)
	}
	.box8 { 
		width: 320px;
		height: 480px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0442);
		// 8.	320x480	9,813(4.42%)
	}
	.box9 { 
		width: 1280px;
		height: 800px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0407);
		// 9.	1280x800	9,023(4.07%)
	}
	.box10 { 
		width: 1600px;
		height: 900px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0402);
		// 10.	1600x900	8,906(4.02%)
	}
	.box11 { 
		width: 1440px;
		height: 900px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0302);
		// 11.	1440x900	6,687(3.02%)
	}
	.box12 { 
		width: 1280px;
		height: 720px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0191);
		// 12.	1280x720	4,242(1.91%)
	}
	.box13 { 
		width: 1680px;
		height: 1050px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0177);
		// 13.	1680x1050	3,931(1.77%)
	}
	.box14 { 
		width: 720px;
		height: 1280px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0161);
		// 14.	720x1280	3,581(1.61%)
	}
	.box15 { 
		width: 480px;
		height: 800px;
		margin-left: -(@width/2); 
		// counter: "40,333";
		background:rgba(0,0,0,0.0154);
		// 15.	480x800	3,417(1.54%)
	}
}