extends _templates/main

block vars
	- var title = 'Boilerplate: Home'
	- var description = 'Jade, Stylus, JS basic boilerplate'
	- var keywords = 'Jade, Stylus, javascript'
	- var page = 'page-home'

block content
	div(class="main-content", role="main")
		h1 Mutha Fucking Styleguide
		h2 Mutha Fucking Styleguide
		h4 Mutha Fucking Styleguide
		h5 Mutha Fucking Styleguide
		h6 Mutha Fucking Styleguide
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
			| incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
			strong quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
			| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
			a(href='#' title='Lorem Ipsum CTA') dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
			| sunt in culpa qui officia deserunt mollit anim id est laborum.
		form 
			legend aksjdfkjasdhf
			label(for='checky') 
				input(type='checkbox', value=1, name='checky')
				| Check this shit