doctype html
html.no-js(lang='en')
	block vars
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		title #{title} | Jason Lydon: website builder, solution designer.
		meta(name='description', content='#{description}')
		meta(name="keywords", content="#{keywords}")
		include ../_inc/head.pug
		script(src="public/js/react.js")
		script(src="public/js/react-dom.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
	body(class='page-#{pageClass}')
		include ../_inc/header.pug
		main.content
			block content
		include ../_inc/footer.pug
		include ../_inc/foot.pug
		script(type="text/babel" src="public/js/secondary.js")