extends _templates/main
block vars
	- var title = 'HOBBIES'
	- var description = 'If I could replace 90 minutes of my workday'
	- var keywords = 'pug templates,node,gulp,json,static site generation,instagram API'
	- var pageClass = 'hobbies'

block content	
	include svg/logo.svg
	h1 90 minutes: Hobbies
	p 
		| A table of items that are stagnant. The data for this is JSON that is pulled in during the Jade Template process.
	table.hobbies
		thead
			tr
				th(colspan="4") Hobbies of a life past
			tr 
				th Hobby
				th Item
				th Status
				th Emotion
		tbody
			each val, index in hobbies
				tr
					th(colspan=4) #{index}
				each val2, index2 in val
					tr
						td 
						td #{val2.title}
						td #{val2.status}
						td #{val2.emotion}
		tfoot
			tr
				td(colspan="4") Content in this table is loaded into Jade from a JSON file