.template-contact-form {
		height 100%
		width 100%
	.block {
		display flex
		justify-content center
		align-items center
		flex-wrap wrap
		flex-direction column
		background rgba(132,200,98,0.99)
		margin 50px
		padding 20px
		box-shadow 15px 15px 0px 0px rgba(0,0,0,0.75)
		position relative
	}
	[type="submit"] {
		fancyButtons()
	}
	[data-cta="close-contact"] {
		position absolute
		top 0
		right 0
	}
}
.show-contact-form .template-contact-form {}