.page-intro {
	background url("/public/img/home-hero-large.jpg") no-repeat 100% 0 _blue fixed;
	background-size auto 100%
}
.page-about {
	background url("/public/img/about-hero-large.jpg") no-repeat 100% 0 _blue fixed;
	background-size cover
}