extends ../_templates/main
block vars
	- var title = 'Content Management Systems'
	- var description = 'Jason Lydon: a wordy version of my intro'
	- var keywords = 'jade,node,gulp,json,static site generation'

block content	
	h1 Content Management Systems
	p Under Construction.