extends ../_templates/main
block vars
	- var title = 'Full-Stack Web Development'
	- var description = 'Jason Lydon: a wordy version of my intro'
	- var keywords = 'jade,node,gulp,json,static site generation'

block content	
	h1 Full-Stack Web Development
	h2 Or, what the hell is a full stack and why does anyone care?
	p "Full-Stack Web Development": is just a cute way of saying you are a web developer who is open to working on any part of a website. The term is so riddled in it's origin that you can't even find a simple definition of what it means. To me, it's just a web developer who is knowledgable and experienced enough to know what they know and don't know. If you don't know it, you know where to look for answers or what the best GUI is to accomplish a task.
	p I've come across plenty of back end developers who know just enough about spans and Bootstrap to claim they are Full Stack developers
	p I've also come across plenty of 