extends ../_templates/main
block vars
	- var title = 'Services'
	- var description = 'Jason Lydon: a wordy version of my intro'
	- var keywords = 'jade,node,gulp,json,static site generation'

block content	
	h1 Services
	ul
		li
			h2
				a(href="/services/full-stack-web-development.html" title="Learn more about Full-Stack Web Development") Full-Stack Web Development
			p The complete set of tools that comprise a website. Servers, databases, markup, styles and functionality
			small PHP, HTML, Javascript, CSS, MySQL, MongoDB, Node.js, Apache, Git, JSON, XML
		li
			h2
				a(href="/services/front-end-web-development.html" title="Learn more about Front-End Web Development") Front-End Web Development
			p I sharpened my teeth on pixel perfect layout. Front-end web development is what you see in the browser. I take layouts from creative designers (Photoshop, Illustrator & Sketch) and turn it into webpages
			small Gulp, Grunt, CSS[3], Sass, LESS, Stylus, HTML[5], Jade, Javascript, ES2015, SVG, Photoshop, Illustrator, Sketch
		li
			h2
				a(href="/services/rwd.html" title="Learn more about Responsive Web Design (RWD) & Development") RWD (Responsive Web Design &amp; Development)
			p One website to rule them all. A website built correctly is set of content that works on all clients, across all dimensions.
			small Math, Responsive Images, Media Queries, Image Optimization
		li
			h2
				a(href="/services/cms.html" title="Learn more about Content Management Systems") Content Management Systems
			p All any client really wants is to be able to use a dashboard to control the content of their website. For that purpose, I set them up with a CMS (Content Management System). I've worked with teams as the front-end template maker as well as built my own CMS websites. I love making a website just as much as I love letting someone else make copy changes.
			small Wordpress, Drupal, Laravel, Shopify, Pimcore, Expression Engine, Code Igniter
		li
			h2
				a(href="/services/web-animations.html" title="Learn more about Web Animations") Web Animations
			p Lorem Ipsum
			small Web Animations API, CSS3, SNAPsvg
		li
			h2
				a(href="/services/scroll-events.html" title="Learn more about Scroll Event Web Development") Scroll Event Web Development
			p Lorem Ipsum
			small Hand written core javascript
		li
			h2 Search Engine Optimization
			p Having been in the web game
			small Google Analytics, Heap Analytics, Omniture, Organic SEO
		li
			h2 Social Media
			p Open Graph tags speak social media to the scrapers.
			small Facebook, Twitter, Google+, LinkedIn
		li
			h2 Ecommerce
			p If you have a product, you best be selling it on the internet. Heopfully it's in your store so you can maximize your profits.
			small Shopify, EBay
		li
			h2 Process & Strategy
			p What and do and how to do it
			small Wireframing, Prototyping, Game Planning
		li
			h2 Future Techniques
			p To stay relevant, you have to keep learning.
			small ES2016, React, Node.js, Express, MEAN Stack, Backbone.js