extends ../_templates/main
block vars
	- var title = 'Responsive Web Design &amp; Development'
	- var description = 'Jason Lydon: a wordy version of my intro'
	- var keywords = 'jade,node,gulp,json,static site generation'

block content	
	h1 Responsive Web Design &amp; Development
	p Under Construction.