extends ../_templates/main
block vars
	- var title = 'Scroll Event Web Development'
	- var description = 'Jason Lydon: a wordy version of my intro'
	- var keywords = 'jade,node,gulp,json,static site generation'

block content	
	h1 Scroll Event Web Development
	p Under Construction.