extends ../_templates/main
block vars
	- var title = 'Search Engine Optimization'
	- var description = 'Jason Lydon: a wordy version of my intro'
	- var keywords = 'jade,node,gulp,json,static site generation'

block content	
	h1 Search Engine Optimization
	p Under Construction.