extends ../_templates/main
block vars
	- var title = 'Web Animations'
	- var description = 'Jason Lydon: a wordy version of my intro'
	- var keywords = 'jade,node,gulp,json,static site generation'

block content	
	h1 Web Animations
	p Under Construction.