extends _templates/main
block vars
	- var title = 'About Me'
	- var description = 'Jason Lydon: a wordy version of my intro'
	- var keywords = 'jade,node,gulp,json,static site generation'
	- var pageClass = 'about'

block content	
	h1: span I build websites. I design solutions.
	p My role in the world is to solve problems, I chose the internet as my medium. I am a full stack web developer whose specialty is front-end web development. This translates to me being solid from database to server to client, but my expertise is in the client.
	blockquote
		p "They come for the stack, but they stay for the front-end." 
		cite - Some creepy HR guy
	h2: span Philosophy
	p My general philosophy is to start at zilch, build everything you can with native HTML, CSS &amp; JS, then add polyfills, libraries, frameworks, etc if the tools fit. Having a super lean boilerplate leads to having a super lean release. I love all the toys, but I don't like to force them into a project where they are not needed.
	p I have been making responsive websites since the first iPhone web browser. The mobile browser has come a long way, as have the tools and I have grown with them. If your website doesn't work across all devices, then you have wasted your time and money.
	h2: span Measure twice and cut once
	p Communication is the biggest challenge when it comes to getting someone else's ideas into a browser.  I have embraced communication as a skill that has to be worked on, cultivated and nourished. The better a client's goals get get expressed, understood and documented, the smoother a project will move through the milestones.
	h2: span Experience
	p I've been working on web projects for over ten years, and in the digital realm since the 1990's. I have a college degree, but what I know about my craft, I've learned on my own since then.  After college, I was a digital artist at a screen printing shop in Fort Collins, CO. After that, I learned Flash and Dreamweaver while working in a booth of the paid parking lots of Breckenridge ski resort. That led me to a stint at ESPN doing video production, which was kind of related, and then into the Flash Banner realm. You know those banners everyone goes out of their way to ignore? I made a lot of them in the 2000's. Actionscript was a nice gateway into javascript, and since I made the switch, there was no looking back. I had a few positions at agencies around Manhattan and Brooklyn being paired with back-end developers creating content management systems for some pretty big clients. My last few stops have been as a full-stack developer at a few other agencies, again with an impressive client list.
	p Today, I'm at a smaller shop where they let me run a project until I really needed a specialist. And I, in turn, am the front-end specialist for other folks.
	a(href="http://stackoverflow.com/users/1588819/jason-lydon")
		img(src="http://stackoverflow.com/users/flair/1588819.png" width="208" height="58" alt="profile for Jason Lydon at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Jason Lydon at Stack Overflow, Q&amp;A for professional and enthusiast programmers")