extends _templates/main
block vars
	- var title = 'Where had I worked?'
	- var description = 'Jason Lydon: I build websites'
	- var keywords = 'jade,node,gulp,json,static site generation'
	- var pageClass = 'resume'

block content	
	h1 Resume
	p Under Construction.